@charset "UTF-8";

label:hover {
   background-color: #DDD;
   cursor: pointer;
   padding: 0px;
}

h1 {
  background:#5fc2f5;
  color:#FFF;
  font-size:30px;
  margin-top: 0px;
}

ul{
  padding: 15px 20px;
  margin: 0;
}

.add_li {
  list-style-type: none;
  cursor: pointer;
  padding-left: 30px;
  height: 60px;
  line-height: 30px
}
.box30 {
  margin: 2em 0;
  background: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

.box30 .box-title {
  font-size: 1.2em;
  background: #5fc2f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.box30 p {
  padding: 15px 20px;
  margin: 0;
}
